@import '~flamework/src/vars';
@import 'vars.scss';

.VehicleList {
  @media #{$mobile} {
    padding: 0;
  }
}

.VehicleItem {
  flex: 0 0 25%;
  background-color: white;

  @media #{$tablet} {
    flex: 0 0 50%;
  }

  @media #{$mobile} {
    flex: 0 0 100%;
    margin-bottom: 0;
  }

  .thumbnail {
    width: 100%;
    object-position: center center;
    height: 100%;
  }

  legend {
    border: 0.5pt solid #eeeeee;

    .name {
      border-top: 1pt solid currentColor;
      border-bottom: 1pt solid currentColor;
      text-transform: uppercase;

      @media #{$mobile} {
        border: 0;
        margin-bottom: .5rem;
      }
    }

    p {
      font-size: .9rem;
      color: $black5;
      text-align: center;

      @media #{$mobile} {
        text-align: left;
        font-size: 1rem;
      }
    }
  }
}
