{
  "extends": ["eslint:recommended", "airbnb-base"],
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "modules": true
    }
  }
}
